In [2]:
path = "pbmc/pbmc6k_matrices"
import scanpy as sc
adata = sc.read_10x_mtx(path, var_names='gene_symbols', cache=False)

In [9]:
adata.var

                     gene_ids
MIR1302-10    ENSG00000243485
FAM138A       ENSG00000237613
OR4F5         ENSG00000186092
RP11-34P13.7  ENSG00000238009
RP11-34P13.8  ENSG00000239945
...                       ...
AC145205.1    ENSG00000215635
BAGE5         ENSG00000268590
CU459201.1    ENSG00000251180
AC002321.2    ENSG00000215616
AC002321.1    ENSG00000215611

[32738 rows x 1 columns]

In [ ]:
import pandas as pd
adata = pd.read_csv("Guo\GSE99254.count.txt",delimiter="\t")
adata = adata.drop(columns = ["geneID"])

<>:2: SyntaxWarning: invalid escape sequence '\G'
<>:4: SyntaxWarning: invalid escape sequence '\G'
<>:2: SyntaxWarning: invalid escape sequence '\G'
<>:4: SyntaxWarning: invalid escape sequence '\G'
C:\Users\saira\AppData\Local\Temp\ipykernel_36804\3700618292.py:2: SyntaxWarning: invalid escape sequence '\G'
  adata = pd.read_csv("Guo\GSE99254.count.txt",delimiter="\t")
C:\Users\saira\AppData\Local\Temp\ipykernel_36804\3700618292.py:4: SyntaxWarning: invalid escape sequence '\G'
  adata.to_csv("Guo\GSE99254.tsv",sep="\t")

In [36]:
import pandas as pd
melanoma = sc.read_csv("/scratch/saigum/codebase/datasets/Brown/hum_melanoma_counts.tsv",delimiter="\t")

In [42]:
melanoma.X.shape

(9315, 19445)

In [9]:
adata.to_csv("Guo\GSE99254.tsv",sep="\t",index=False)

<>:1: SyntaxWarning: invalid escape sequence '\G'
<>:1: SyntaxWarning: invalid escape sequence '\G'
C:\Users\saira\AppData\Local\Temp\ipykernel_36804\3480280203.py:1: SyntaxWarning: invalid escape sequence '\G'
  adata.to_csv("Guo\GSE99254.tsv",sep="\t",index=False)

In [10]:
guo = sc.read_csv("Guo/GSE99254.tsv",delimiter="\t")

/scratch/saigum/codebase/gac/lib/python3.13/site-packages/anndata/_core/anndata.py:1756: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

In [28]:
import pandas as pd
guo_subtype= pd.read_csv("Guo/subtype.ann",delimiter="\t")
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
guo_subtype["label"]=lb.fit_transform(guo_subtype["sampleType"])

In [5]:
import scanpy as sc
brown_mouse = sc.read_csv("Brown\hum_melanoma_counts.tsv",delimiter="\t")

print(brown_mouse)

<>:2: SyntaxWarning: invalid escape sequence '\h'
<>:2: SyntaxWarning: invalid escape sequence '\h'
C:\Users\saira\AppData\Local\Temp\ipykernel_16800\3718971914.py:2: SyntaxWarning: invalid escape sequence '\h'
  brown_mouse = sc.read_csv("Brown\hum_melanoma_counts.tsv",delimiter="\t")

AnnData object with n_obs × n_vars = 9315 × 19445

In [11]:
import scanpy as sc
import pandas as pd
chung = pd.read_csv("Chung\GSE75688_matrix.txt",delimiter="\t")
chung = chung.drop(columns = ["gene_name","gene_type"])
chung.to_csv("Chung\GSE75688.tsv",sep="\t",index=False)
chung = sc.read_csv("Chung\GSE75688.tsv",delimiter="\t")
print(chung)

<>:3: SyntaxWarning: invalid escape sequence '\G'
<>:5: SyntaxWarning: invalid escape sequence '\G'
<>:6: SyntaxWarning: invalid escape sequence '\G'
<>:3: SyntaxWarning: invalid escape sequence '\G'
<>:5: SyntaxWarning: invalid escape sequence '\G'
<>:6: SyntaxWarning: invalid escape sequence '\G'
C:\Users\saira\AppData\Local\Temp\ipykernel_16800\3448444132.py:3: SyntaxWarning: invalid escape sequence '\G'
  chung = pd.read_csv("Chung\GSE75688_matrix.txt",delimiter="\t")
C:\Users\saira\AppData\Local\Temp\ipykernel_16800\3448444132.py:5: SyntaxWarning: invalid escape sequence '\G'
  chung.to_csv("Chung\GSE75688.tsv",sep="\t",index=False)
C:\Users\saira\AppData\Local\Temp\ipykernel_16800\3448444132.py:6: SyntaxWarning: invalid escape sequence '\G'
  chung = sc.read_csv("Chung\GSE75688.tsv",delimiter="\t")

AnnData object with n_obs × n_vars = 57915 × 563

In [2]:
import scanpy as sc
habib = sc.read_csv("Habib\GSE104525_Mouse_Processed_GTEx_Data.DGE.UMI-Counts.txt",delimiter="\t")
print(habib)

<>:2: SyntaxWarning: invalid escape sequence '\G'
<>:2: SyntaxWarning: invalid escape sequence '\G'
C:\Users\saira\AppData\Local\Temp\ipykernel_43408\3105308605.py:2: SyntaxWarning: invalid escape sequence '\G'
  habib = sc.read_csv("Habib\GSE104525_Mouse_Processed_GTEx_Data.DGE.UMI-Counts.txt",delimiter="\t")

AnnData object with n_obs × n_vars = 23589 × 13313

In [5]:
habib =habib.transpose()

In [35]:
import os
import pandas as pd
fileset = []
for dirpath,dirnames,filenames in os.walk("Sun"):
    for file in filenames:
        fileset.append(file[:file.rfind("_")])

fileset = set(fileset)
print(fileset)
import anndata as ad
adata_l=[]
for file in fileset:
    if(file == "GSE128066_RAW.tar"):
        continue
    barcodes = pd.read_csv(f"Sun/{file}_barcodes.tsv.gz",delimiter="\t",header=None)
    barcodes.columns = ["barcode"]
    genes = pd.read_csv(f"Sun/{file}_genes.tsv.gz",delimiter="\t",header=None)
    genes.columns = ["geneID","geneName"]
    matrix = ad.read_mtx(f"Sun/{file}_matrix.mtx.gz")
    matrix.var_names = barcodes["barcode"]
    matrix.obs_names = genes["geneName"]
    adata_l.append(matrix)
import pickle as pk
for i in range(len(adata_l)):
    adata_l[i].var_names_make_unique()
    adata_l[i].obs_names_make_unique()
    adata_l[i]  = adata_l[i].transpose()
pk.dump(adata_l,open("Sun/celltype_specific_counts.pkl","wb"))

<>:23: SyntaxWarning: invalid escape sequence '\G'
<>:23: SyntaxWarning: invalid escape sequence '\G'
C:\Users\saira\AppData\Local\Temp\ipykernel_43408\2947217357.py:23: SyntaxWarning: invalid escape sequence '\G'
  adata.to_df().to_csv("Sun\GSE116470.tsv",sep="\t",index=False)

{'GSM3665017_KC_PBL', 'GSM3662224_K5_472', 'GSM3665019_TC_PBL', 'GSM3667329_SC125_S3', 'GSM3662226_K7_478', 'GSM3665016_CS_PBL', 'GSM3662227_K8_477', 'GSM3665018_TB_PBL', 'GSM3667327_SC68_S1', 'GSM3667328_SC124_S2', 'GSM3662225_K6_473'}
AnnData object with n_obs × n_vars = 341158 × 0

c:\Users\saira\anaconda3\envs\Pytorch\Lib\site-packages\anndata\_core\anndata.py:1754: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

In [50]:
romanov

,cellID,1772058147_F02,1772096158_E08,1772096144_A05,1772092004_A05,1772092004_B06,1772096173_F02,1772092004_B11,1772078030_A08,1772092004_B08,...,1772096165_E07,1772096145_E09,1772096168_G07,1772096103_C09,1772078030_A09,1772092005_H03,1772096133_F06,1772096144_F04,1772096144_H07,1772078016_A09
0,level1 class,oligos,oligos,oligos,oligos,oligos,oligos,oligos,oligos,oligos,...,neurons,neurons,neurons,neurons,neurons,neurons,neurons,neurons,neurons,neurons
1,level2 class (neurons only),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,uc,uc,uc,uc,uc,uc,uc,uc,uc,uc
2,level2 cluster number (neurons only),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,age (days postnatal),NaN,21,27,29,29,28,29,22,29,...,27,29,28,24,22,29,25,27,27,25
4,"sex (female=1,male=-1)",0,-1,-1,-1,-1,-1,-1,1,-1,...,-1,-1,-1,-1,1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24347,Gm20747_loc4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24348,Gm20736_loc10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24349,Gm20854_loc1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24350,Gm20854_loc2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24351,Erdr1,0,0,0,0,0,0,0,0,0,...,1,0,7,0,0,1,0,0,0,0

In [ ]:
adata_l = pk.load(open("Sun/celltype_specific_counts.pkl","rb"))
for i in range(len(adata_l)):
    print(adata_l[i])

AnnData object with n_obs × n_vars = 2306 × 32738
AnnData object with n_obs × n_vars = 577 × 27998
AnnData object with n_obs × n_vars = 2438 × 32738
AnnData object with n_obs × n_vars = 1636 × 32738
AnnData object with n_obs × n_vars = 684 × 27998
AnnData object with n_obs × n_vars = 1768 × 32738
AnnData object with n_obs × n_vars = 649 × 27998
AnnData object with n_obs × n_vars = 2410 × 32738
AnnData object with n_obs × n_vars = 686 × 32738
AnnData object with n_obs × n_vars = 2240 × 32738
AnnData object with n_obs × n_vars = 724 × 27998

In [ ]:
from openpyxl import load_workbook
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import pickle as pk
romanov = pd.read_excel("/scratch/saigum/codebase/datasets/Romanov/GSE74672_expressed_mols_with_classes.xlsx")
pk.dump(romanov,)
lb = LabelEncoder()
subtype = lb.fit_transform(romanov.iloc[0])

In [3]:
with open("Romanov/gse7462.pkl","wb") as fp:
    pk.dump(romanov,fp)

In [44]:
import pandas as pd
import anndata
import pickle
with open("Romanov/gse7462.pkl","rb") as fp:
    adata = pickle.load(fp).T
header_row = adata.iloc[0]
adata_new = adata.iloc[1:].copy()
adata_new.columns = header_row
adata_new.reset_index(drop=True, inplace=True)
start_col = "Xkr4"
start_index = adata_new.columns.get_loc(start_col)  # Get index of "Xkr4"
selected_df = adata_new.iloc[:, start_index:]  # Select all columns from "Xkr4" onward
print(selected_df)
selected_adata = anndata.AnnData(selected_df)
filename = "Romanov/adata.pkl"
with open(filename, "wb") as file:
    pickle.dump(selected_adata, file)
print(f"AnnData object for columns from 'Xkr4' onward has been pickled and saved as '{filename}'.")

cellID Xkr4 Rp1 Sox17 Mrpl15 Lypla1 Tcea1 Rgs20 Atp6v1h Oprk1 Npbwr1  ...  \
0         0   0     0      0      0     0     0       0     0      0  ...
1         0   0     0      0      0     1     0       0     0      0  ...
2         0   0     0      0      0     0     0       4     0      0  ...
3         0   0     0      0      0     2     0       0     0      0  ...
4         0   0     0      3      0     0     0       0     0      0  ...
...     ...  ..   ...    ...    ...   ...   ...     ...   ...    ...  ...
2876      0   0     0      0      0     2     0       0     0      0  ...
2877      0   0     0      1      2     2     0       5     1      0  ...
2878      0   0     0      0      0     0     0       0     0      0  ...
2879      0   0     0      0      1     2     0       7     0      0  ...
2880      0   0     0      0      1     3     0       1     0      0  ...

cellID Gm20736_loc9 Ssty2_loc4 Gm20806_loc3 Ssty2_loc1 Gm20806_loc4  \
0                 0          0            0          0            0
1                 0          0            0          0            0
2                 0          0            0          0            0
3                 0          0            0          0            0
4                 0          0            0          0            0
...             ...        ...          ...        ...          ...
2876              0          0            0          0            0
2877              0          0            0          0            0
2878              0          0            0          0            0
2879              0          0            0          0            0
2880              0          0            0          0            0

cellID Gm20747_loc4 Gm20736_loc10 Gm20854_loc1 Gm20854_loc2 Erdr1
0                 0             0            0            0     0
1                 0             0            0            0     0
2                 0             0            0            0     0
3                 0             0            0            0     0
4                 0             0            0            0     0
...             ...           ...          ...          ...   ...
2876              0             0            0            0     1
2877              0             0            0            0     0
2878              0             0            0            0     0
2879              0             0            0            0     0
2880              0             0            0            0     0

[2881 rows x 24341 columns]

/scratch/saigum/codebase/gac/lib/python3.13/site-packages/anndata/_core/aligned_df.py:68: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

AnnData object for columns from 'Xkr4' onward has been pickled and saved as 'Romanov/adata.pkl'.

In [45]:
import pickle as pk

with open("Romanov/adata.pkl", "rb") as file:
    adata = pk.load(file)
adata

AnnData object with n_obs × n_vars = 2881 × 24341

In [28]:
import pickle as pk
import pandas as pd
import anndata as ad
adata_list = pk.load(open("Sun/celltype_specific_counts.pkl", "rb"))
dfs = []
for i, adata in enumerate(adata_list):
    temp_df = pd.DataFrame({
        'barcode': adata.obs_names,
        'label': i
    })
    dfs.append(temp_df)
subtype_df = pd.concat(dfs, ignore_index=True)
print(subtype_df.head())
adata = ad.concat(adata_list)

              barcode  label
0  AAACCTGCACGAAACG-1      0
1  AAACCTGCAGACTCGC-1      0
2  AAACCTGCATTTGCTT-1      0
3  AAACCTGGTAGCGTAG-1      0
4  AAACCTGGTGTCGCTG-1      0

/scratch/saigum/codebase/gac/lib/python3.13/site-packages/anndata/_core/anndata.py:1756: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

In [55]:
adata_list.pop(1)

AnnData object with n_obs × n_vars = 577 × 27998

In [56]:
for i, adata in enumerate(adata_list):
    temp_df = pd.DataFrame({
        'barcode': adata.obs_names,
        'label': i
    })
    dfs.append(temp_df)
subtype_df = pd.concat(dfs, ignore_index=True)
print(subtype_df.head())
adata = ad.concat(adata_list)

              barcode  label
0  AAACCTGCACGAAACG-1      0
1  AAACCTGCAGACTCGC-1      0
2  AAACCTGCATTTGCTT-1      0
3  AAACCTGGTAGCGTAG-1      0
4  AAACCTGGTGTCGCTG-1      0

/scratch/saigum/codebase/gac/lib/python3.13/site-packages/anndata/_core/anndata.py:1756: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

In [57]:
adata

AnnData object with n_obs × n_vars = 15541 × 19